@font-face {
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
}


.page {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Header */

.page-header {
	padding-top: 29px;
}

.header-color {
	background-color: #e0e0e0;
}

.header-list {
	min-height: 89px;
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	justify-content: center;
	background-color: #000000;
	width: 100%;
	max-width: 1249px;
	margin: 0 auto;
}

.list-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: stretchs;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-item {
	display: flex;
	justify-content: center;
	align-items: stretch;
	min-height: 89px;
}

.link {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #e0e0e0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 0 32px;
}

.link:hover {
	background-color: #FF3F40;
}

/* Main Intro */

.page-intro {
	background-color: #e0e0e0;
}

.intro {
	max-width: 1249px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
}

.intro {
	padding-top: 103px;
	padding-bottom: 94px;
}

.intro-content {
	position: relative;
	width: 618px;
	margin-right: 78px;
	bottom: 11px;
}

.intro-content > h1 {
	margin: 0;
	font-size: 60px;
	font-weight: 800;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-bottom: 25px;
	line-height: 72px;
}

.intro-content > p {
	margin: 0;
	width: 544px;
	margin-bottom: 50px;
	font-size: 16px;
	line-height: 28px;
}

.intro-button {
	display: flex;
	justify-content: center;
	width: 227px;
	text-decoration: none;
	background-color: #FF2D2D;
	color: #FFFFFF;
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 5px;
	font-weight: 700;
}

.image-1 {
	width: 551px;
	height: 356px;
}

/* Services */

.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
	padding-top: 107px;
	padding-bottom: 50px;
	border-bottom: 3px solid #ECECEC;
}

.provide {
	width: 539px;
}

.provide > h1 {
	margin: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 42px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 55px;
	opacity: 0.7;
}

.provide > p {
	margin-bottom: 64px;
	font-size: 16px;
	line-height: 28px;
}

.services-button {
	display: flex;
	justify-content: center;
	width: 227px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FF2D2D;
	text-decoration: none;
	font-size: 18px;
	border-radius: 5px;
	border: 2px solid;
}

.services-blocks {
	max-width: 610px;
	min-height: 485px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
}

.block {
	width: 300px;
}

.block > p {
	margin-top: 13px;
	font-size: 16px;
	line-height: 28px;
}


/* Feature */

.feature-section {
	max-width: 1249px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 104px;
	padding-bottom: 52px;
	margin: 0 auto;
}

.feature-text > h1 {
	text-transform: uppercase;
	font-size: 42px;
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 0;
	opacity: 0.7;
}

.feature-text > p {
	max-width: 536px;
	text-align: center;
	padding-top: 28px;
	padding-bottom: 33px;
	margin: 0 auto;
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 28px;
}

.feature-text > hr {
	width: 134px;
	background-color: #FF2D2D;
	height: 3px;
	margin-bottom: 86px;
	border: none;
}

.feature-list {
	width: 100%;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	margin-bottom: 58px;
}

.feature-link {
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	font-size: 24px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
}

.feature-photo {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.feature-photo > img {
	margin-top: 13px;
}

/* Team */

.team {
	max-width: 1249px;
	display: flex;
	margin: 0 auto;
	padding-top: 52px;
	padding-bottom: 106px;
	flex-wrap: wrap;
}

.team-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.team-text > h1 {
	margin: 0;
	margin-bottom: 34px;
	text-transform: uppercase;
	font-size: 42px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	opacity: 0.7;
	font-weight: 600;
}

.team-text > p {
	margin-bottom: 37px;
	max-width: 478px;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.team-text > hr {
	width: 134px;
	background-color: #FF2D2D;
	height: 3px;
	margin: 0;
	margin-bottom: 67px;
	border: none;
}

.our-team {

	width: 100%;
	height: 460px;
	display: flex;
	justify-content: space-between;
}

.team-lead {
	max-width: 324px;
	background-color: #f4ad99;
}



.text-container {
	
	display: flex;
	
	flex-direction: column;
	justify-content: flex-start;
}

.text-container > h1 {
	margin: 0;
	margin-bottom: 29px;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 28px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	opacity: 0.7;
	font-weight: 600;
}

.text-container > p {
	padding: 0;
	margin: 0;
	margin-bottom: 46px;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.social-list {
	max-width: 401px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 60px;
}

.photo-container {
	width: 100%;
	margin: 0;
}

.photo-container > img {
	padding: 0;
	margin: 0;
	background-color: #d4dce6;
}


/* Feedback */

.feedback {
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 516px;
	margin: 0 auto;
	background-color: #2C2C2C;
}

.feedback > h2 {
	margin: 0;
	margin-bottom: 16px;
	max-width: 1129px;
	min-height: 50px;
	color: #FFFFFF;
	font-size: 42px;
	line-height: 24px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.feedback > p {
	max-width: 573px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 56px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.input-email {
	width: 524px;
	padding: 0;
	padding-top: 31px;
	padding-bottom: 27px;
	padding-left: 38px;
	border: none;
	border-radius: 5px;
	margin-right: 19px;
	font-size: 16px;
}

.feedback-button {
	padding: 0;
	width: 217px;
	padding-top: 31px;
	padding-bottom: 27px;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	background-color: #FF2D2D;
	font-size: 16px;
	text-transform: uppercase;
}

/*  */

.feedback-section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
}

.feedback-wrapper {
	width: 1419px;
	min-height: 771px;
	margin-top: 104px;


}

.feedback-text > h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: 42px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	margin-bottom: 45px;
}

.feedback-text > p {
	max-width: 752px;
	margin: 0;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 58px;
}

.feedback-text > hr {
	width: 134px;
	background-color: #FF2D2D;
	height: 3px;
	margin: 0;
	margin-bottom: 73px;
	border: none;
}

.feedback-form__info {
	width: 100%;
	height: 485px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.feedback-form {
	width: 100%;
	max-width: 731px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.form-input {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.input-name {
	padding-left: 50px;
	padding-right: 90px;
	max-width: 342px;
	height: 71px;
	border-radius: 5px;
	border: none;
	margin-bottom: 43px;
	background-color: #e6e6e6;
	color: #000000;
}

.input-mail {
	padding-left: 50px;
	padding-right: 90px;
	max-width: 342px;
	height: 71px;
	border-radius: 5px;
	border: none;
	margin-bottom: 43px;
	background-color: #e6e6e6;
	color: #000000;
}

.input-text {
	width: 100%;
	max-width: 731px;
	height: 252px;
	padding-left: 50px;
	border-radius: 5px;
	border: none;
	margin-bottom: 40px;
	background-color: #e6e6e6;
	color: #000000;
}

.input-button {
	width: 100%;
	max-width: 731px;
	height: 75px;
	padding-left: 50px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	border-radius: 5px;
	border: none;
	color: #FFFFFF;
	background-color: #FF3B3B;
}

.feedback-info {
	width: 100%;
	max-width: 580px;
	background-color: #000000;

}

.feedback-info > h4 {
	margin: 0;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-left: 80px;
	padding-top: 140px;
	margin-bottom: 27px;
}

.feedback-info > p {
	margin: 0;
	padding-left: 80px;
	color: #FFFFFF;
	margin-bottom: 27px;
}

/* Footer */

.footer {
	width: 100%;
	height: 113px;
	background-color: #313030;
	margin-top: 107px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.content-footer {
	width: 1247px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.copyright {
	width: 376px;
}

.copyright > p {
	margin: 0;
	color: #B8B8B8;
}

.footer-icon {
	width: 185px;
	height: 33px;
	display: flex;
	justify-content: space-between;
}


/* Адаптив */

@media screen and (max-width: 1286px) {
	.intro {
		flex-wrap: nowrap;
	}
	.intro-content {
		width: 50%;
		box-sizing: border-box;
		margin-right: 0;
		padding-right: 15px;
	}
	.intro-content > h1 {
		max-width: 100%;
		font-size: 5vw;
	}
	.intro-content > p {
		width: 100%;
	}
	.image-link {
		width: 50%;
	}
	.image-1 {
		width: 100%;
		height: auto;
	}
	.feature-photo {
		justify-content: flex-start;
	}
	.feature-photo > img {
		max-width: 100%;
		margin-right: 1vw;
	}
	.feedback-text {
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.feedback-form {
		margin-right: 0;
	}
	.feedback-form__info {
		width: 100%;
		max-width: 100%;
		flex-wrap: wrap;
	}
	.feedback-info {
		margin-right: 0;
	}
	.feedback-section {
		flex-wrap: wrap;
		padding-left: initial;
		padding-right: initial;
		padding-bottom: 0;
	}
	.feedback-section::after {
		content: initial;
	}
	.our-team {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.photo-container {

	}
	.team {
		width: 100%;
		flex-direction: column;
	}
	.team-lead {
		margin-bottom: 30px;
	}
	.team-text {
		align-items: center;
	}
	.text-container {
		margin: 0 auto;
	}
	.feedback {
		margin: 0 auto;
	}
	.team-text > p {
		text-align: center;
	}


.@media screen and (max-width: 907px) {
	.provide,
	.services-blocks {
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 900px) {
	.feature-list-item {
		width: 100%;
		text-align: center;
	}
	.services {
		justify-content: center;
	}
	.provide {
		margin-bottom: 20px;
	}
	.services-button {
		margin: 0 auto;
	}
}

@media screen nad (max-width: 850px) {
	.our-team {
		display: flex;
		flex-wrap: wrap;
	}
	.team-lead {
		margin-bottom: 18px;
		margin-right: 0;
	}
}

@media screen and (max-width: 800px) {
	.provide {
		width: 100%;
		max-width: 100%;
	}
	.services-blocks {
		width: 100%;
		max-width: 100%;
		justify-content: center;
	}
	.feedback-info {
		padding: 1vw;
	}
}

@media screen and (max-width: 760px) {
	.feedback__name,
	.feedback__mail,
	.feedback__text,
	.feedback__button {
		width: 100%;
	}
	.feedback__name {
		margin-right: 0;
	}
}

@media screen and (max-width: 700px) {
	.header-list {
		padding-left: 20px;
	}
	.intro {
		flex-wrap: wrap;
	}
	.intro-content {
		width: 100%;
	}
	.image-link {
		width: 100%;
	}
	.image-1 {
		width: 100%;
		height: auto;
	}
	.intro-content > h1 {
		font-size: 50px;
		margin: 0 auto;
	}
	.intro-button {
		margin: 0 auto;
		justify-content: center;
	}

}

@media screen and (max-width: 634px) {
	.feature-photo {
		justify-content: center;
	}
	.feature-photo > img {
		width: 80%;
	}
}

@media screen and (max-width: 400px) {
	.email-button {
		flex-wrap: wrap;
	}
	.intro-content > h1 {

	}
	.feature-photo > img {
		width: 100%;
	}

}